Wand==0.6.5
silence_tensorflow==1.1.1
Flask==1.1.2
imutils==0.5.4
tensorflow-cpu==2.4.0
matplotlib==3.3.2
scikit-image==0.17.2
numpy==1.19.2
opencv_python==4.4.0.46
scipy==1.5.2
Pillow==8.1.1
gunicorn==19.9.0
